body{
    background-color: #fff;
    padding: 0;
    margin: 0;
    text-align: 0;
    font-family: 'Roboto', Arial;
}

.container{
    display: flex;
    flex-direction: column;
}

/*-----NAVBAR-----*/

.nav{
    display: flex;
    align-items: center;
    color: #c4593b;
    background-color: #291d1d;
}

.left img{
    width: 84px;
    height: 84px;
    margin-right: auto;
    padding-right: 10px;
}

.left{
    display: flex;
    align-items: center;
    padding-left: 20px;
    font-size: 20px;
}

.right{
    display: flex;
    margin-left: auto;
    padding: 0px 100px 0px 0px;
}

.links, ul, a{
    display: flex;
    color: #c4593b;
    text-decoration: none;
    list-style: none;
    font-size: 20px;
    padding: 10px;
    font-family: 'Roboto', Arial;
}

/*-----Description-----*/

.description{
    display: flex;
    background-color: #291d1d;
    align-items: center;
    justify-content: center;
    padding: 90px;
}

.description1{
    flex-basis: 400px;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-right: 45px;
}

h1{
    font-size: 48px;
    font-weight: bold;
    color: #c4593b;
    margin: 0;
    font-family: 'roboto', Arial;
}

.description1 p{
    font-family: 'Roboto', Arial;
    color: #fff;
}

.description button{
    display: block;
    text-align: center;
    width: 150px;
    border: none;
    background: #71879a;
    border-radius: 0%;
    color: white;
    font-family: 'roboto', Arial;
    text-decoration: none;
    font-weight: bold;
}

.description1 img{
    width: 120px;
    height: 120px;
}

.kazuha img{
    width: 400px;
    height: 400px;
}

/*----- Content -----*/

.content{
    align-items: center;
    text-align: center;
}

.info{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.info p{
    color: #3882f6;
    font-weight: bold;
    text-align: center;
}

.info img{
    width: 300px;
    height: 500px;
    border: 20px;
    padding: 20px;
    object-fit: cover;
    border: 2px solid #3882f6;
    border-radius: 20px;
}

/*----- Quote -----*/

.quote{
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    padding: 0 300px;
}

.quote p{
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    font-weight: lighter;
    font-family: 'roboto', arial;
}

.quote b{
    padding-bottom: 20px;
    padding-right: 10px;
    font-family: 'roboto',arial;
    text-align: right;
}

/*----- Sign Up -----*/
.sign{
    background-color: #3882f6;
    margin: 50px 200px;
    padding: 10px 80px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    border-color: none;
}

.up{
    flex: 1;
}

.text{
    text-align: left;
}

.text p{
    color: #fff;
    opacity: 0.7;
    margin: 5px 30px 30px 50px;
}

h3{
    color: #fff;
    font-family: 'roboto', arial;
    padding: 0;
    margin: 30px 0px 0px 50px;
}

.sign-button button{
    color: #fff;
    font-family: 'roboto', arial;
    border-color: #fff;
    border-radius: 10px;
    background-color: #3882f6;
    padding: 5px 25px;
    font-size: 15px;
}

.sign-button{
    padding-left: 680px;
}

/*----- footer -----*/
.footer{
    background-color: #291d1d;
    color: #fff;
    font-family: 'roboto',arial;
    text-align: center;
}